services:
  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: "123"
      POSTGRES_USER: "user"
      POSTGRES_DB: "app"
 
  app:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
   
