services:
 db:
  image: postgres:15
  environment:
   POSTGRES_PASSWORD: 123
  volumes:
   - db_data:/var/lib/postgresql/data
 
 app:
  build: .
  ports:
   - "5000:5000"
  depends_on:
   - db
   
 volumes:
  db_data: {}
